<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="/api/students/edit/<%=student._id%>?_method=PUT" method="POST">
            <label for="name"> name </label>
            <input type="text" name="name" value="<%=student.name %>"> 
            <label for="email"> email </label>
            <input type="text" name="email" value="<%=student.email %>"> 
            <input type="submit" >
        </form>
</body>
</html>